{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="accordion" id="webShellAccordion">
    {% for web_shell in web_shells %}
    <div class="accordian-item">
        <h2 class="accordion-header" id="#accordionHeader{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionBody{{ forloop.counter }}" aria-expanded="false" aria-controls="#accordionBody{{ forloop.counter }}">
                {{ web_shell.shell_name }}
            </button>
        </h2>
        <div id="#accordionBody{{ forloop.counter }}" class="accordion-collapse show" aria-labelledby="#accordionHeader{{ forloop.counter }}" data-bs-parent="#webShellAccordion">
            <div class="accordion-body">
                {{ web_shell.code_or_url }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}