{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script type="text/javascript">
    function postPortScan(){
        var portScanForm = new FormData($('#port_scan_form')[0]);
        host = portScanForm.get('host');
        start_port = portScanForm.get('start_port');
        last_port = portScanForm.get('last_port');
        scan_method = portScanForm.get('scan_method');
        logging = portScanForm.get('logging');
        $.ajax({
            url:'/port_scan',
            type: 'POST',
            data:{
                    'host':host,
                    'start_port':start_port,
                    'last_port':last_port,
                    'scan_method':scan_method,
                    'logging':logging
            },
                success: function(data) {
                    result = JSON.parse(JSON.stringify(data)).result
                    document.getElementById("port_scan_result").value=result;
                },
                error: function(xhr, ajaxOption, thrownError){
                    document.getElementById("port_scan_result").value="Port scan error!";
                }
            });
        }
</script>
<p>Port Scan (Use nmap)</p>
<div>
    <form method = "POST" id="port_scan_form">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="button" onclick="postPortScan()" value="Port Scan">
</form>
    <textarea id="port_scan_result">
    </textarea>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}