{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script type="text/javascript">
    function postPortScan(){
        var portScanForm = new FormData($('#port_scan_form')[0]);
        host = portScanForm.get('host');
        first_port = portScanForm.get('first_port');
        last_port = portScanForm.get('last_port');
        scan_method = portScanForm.get('scan_method');
        logging = portScanForm.get('logging');
        csrf_token =
        $.ajax({
            url:'/port_scan',
            type: 'POST',
            data:{
                    'host':host,
                    'first_port':first_port,
                    'last_port':last_port,
                    'scan_method':scan_method,
                    'logging':logging
            },
                success: function(data) {
                    var result = JSON.parse(data);
                    $('port_scan_result').html(result);
                },
                error: function(xhr, ajaxOption, thrownError){
                    $('port_scan_result').html("Port scan error!");
                }
            });
        }
</script>
<div>
    <form method = "POST" id="port_scan_form">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="button" onclick="postPortScan()" value="Port Scan">
</form>
    <textarea readonly id="port_scan_result">
    </textarea>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}