{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script type="text/javascript">
    function postSQLInjectionTest(){
        var sqlInjectionTestForm = new FormData($('#sql_injection_test_form')[0]);
        host = sqlInjectionTestForm.get('host');
        param_name = sqlInjectionTestForm.get('param_name');
        method = sqlInjectionTestForm.get('method');
        logging = sqlInjectionTestForm.get('logging');
        $.ajax({
            url:'/sql_injection',
            type: 'POST',
            data:{
                    'host':host,
                    'param_name':param_name,
                    'method':method,
                    'logging':logging
            },
                success: function(data) {
                    result = JSON.parse(JSON.stringify(data)).result
                    document.getElementById("sql_injection_test_result").value=result;
                },
                error: function(xhr, ajaxOption, thrownError){
                    document.getElementById("sql_injection_test_result").value="SQL injection test error!";
                }
            });
        }
</script>
<p>SQL Injection Test (Blind SQL Injection Base)</p>
<div>
    <form method = "POST" id="sql_injection_test_form">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="button" onclick="postSQLInjectionTest()" value="SQL Injection Test">
</form>
    <textarea class="form-control col-sm-5" id="sql_injection_test_result">
    </textarea>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}