<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
              alt="Bonnie Green">
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item {% if 'port_scan' in segment %} active {% endif %}">
          <a href="/port_scan" class="nav-link">
            <span class="sidebar-text">Port Scan</span>
          </a>
        </li>
        <li class="nav-item {% if 'information_disclosure' in segment %} active {% endif %}">
          <a href="/information_disclosure" class="nav-link">
            <span class="sidebar-text">Information Disclosure</span>
          </a>
        </li>
        <li class="nav-item {% if 'xss' in segment %} active {% endif %}">
          <a href="/xss" class="nav-link">
            <span class="sidebar-text">XSS</span>
          </a>
        </li>
        <li class="nav-item {% if 'sql_injection' in segment %} active {% endif %}">
          <a href="/sql_injection" class="nav-link">
            <span class="sidebar-text">SQL Injection</span>
          </a>
        </li>
        <li class="nav-item {% if 'xxe' in segment %} active {% endif %}">
          <a href="/xxe" class="nav-link">
            <span class="sidebar-text">XXE</span>
          </a>
        </li>
        <li class="nav-item {% if 'file_upload_web_shells' in segment %} active {% endif %}">
          <a href="/file_upload_web_shells" class="nav-link">
            <span class="sidebar-text">File Upload Web Shells</span>
          </a>
        </li>
        <li class="nav-item {% if 'base64_encoder_and_decoder' in segment %} active {% endif %}">
          <a href="/base64_encoder_and_decoder" class="nav-link">
            <span class="sidebar-text">Base64 Encoder/Decoder</span>
          </a>
        </li>
        <li class="nav-item {% if 'hash_generator' in segment %} active {% endif %}">
          <a href="/hash_generator" class="nav-link">
            <span class="sidebar-text">Hash generator</span>
          </a>
        </li>
        <li class="nav-item {% if 'admin' in segment %} active {% endif %}">
          <a href="/admin" class="nav-link">
            <span class="sidebar-text">Show Logs</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  